<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
      <h1>Die Roller</h1>
      <h6><strong>Codestellation 2020 Project</strong></h6>
      <h3>What can this be used for?</h3>
      <h4>
        <ul>
          <li>Monopoly</li>
          <li>Betting</li>
          <li>Decision Making</li>
          <li>Fun!</li>
        </ul> 
      </h4>
    </div>

<a href="/die_roller">
<img src="https://ctl.s6img.com/society6/img/_t9hUwjG9Ts3eyASpuL8JLe-Mow/w_700/prints/~artwork/s6-original-art-uploads/society6/uploads/misc/633fe8a3c9204e54aa6f8cfe77836b54/~~/dices1422024-prints.jpg" style="width:33%">
</a>










<%- include('bootfooter') -%>
